* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(12, 12, 12, 0.90);
}

button {
    color: #ffffff;
    background-color: #1e1e1e;
    border: 2px solid #444444;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28%;
    margin: 8px;
}

button:hover {
    background-color: #444444;
    border-color: #ffffff;
}

button:focus,
button:active {
    background-color: #555555;
    outline-style: none;
}

#lock {
    background-image: image(
        url("/usr/share/wlogout/icons/lock.png"),
        url("/usr/local/share/wlogout/icons/lock.png")
    );
}

#suspend {
    background-image: image(
        url("/usr/share/wlogout/icons/suspend.png"),
        url("/usr/local/share/wlogout/icons/suspend.png")
    );
}

#logout {
    background-image: image(
        url("/usr/share/wlogout/icons/logout.png"),
        url("/usr/local/share/wlogout/icons/logout.png")
    );
}

#reboot {
    background-image: image(
        url("/usr/share/wlogout/icons/reboot.png"),
        url("/usr/local/share/wlogout/icons/reboot.png")
    );
}

#shutdown {
    background-image: image(
        url("/usr/share/wlogout/icons/shutdown.png"),
        url("/usr/local/share/wlogout/icons/shutdown.png")
    );
}

window {
    padding: 0;
}

button {
    min-width: 150px;
    min-height: 150px;
    margin: 10px;
}
